<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnsf.mapper.TbStucourseMapper">
  <resultMap id="BaseResultMap" type="com.lnsf.pojo.TbStucourse">
    <id column="StudentNum" jdbcType="CHAR" property="studentnum" />
    <id column="CourseNum" jdbcType="INTEGER" property="coursenum" />
    <result column="TeacherNum" jdbcType="CHAR" property="teachernum" />
    <result column="Grade" jdbcType="INTEGER" property="grade" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    StudentNum, CourseNum, TeacherNum, Grade
  </sql>
  <select id="selectByExample" parameterType="com.lnsf.pojo.TbStucourseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_stucourse
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.lnsf.pojo.TbStucourseKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_stucourse
    where StudentNum = #{studentnum,jdbcType=CHAR}
      and CourseNum = #{coursenum,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.lnsf.pojo.TbStucourseKey">
    delete from tb_stucourse
    where StudentNum = #{studentnum,jdbcType=CHAR}
      and CourseNum = #{coursenum,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lnsf.pojo.TbStucourseExample">
    delete from tb_stucourse
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lnsf.pojo.TbStucourse">
    insert into tb_stucourse (StudentNum, CourseNum, TeacherNum, 
      Grade)
    values (#{studentnum,jdbcType=CHAR}, #{coursenum,jdbcType=INTEGER}, #{teachernum,jdbcType=CHAR}, 
      #{grade,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lnsf.pojo.TbStucourse">
    insert into tb_stucourse
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="studentnum != null">
        StudentNum,
      </if>
      <if test="coursenum != null">
        CourseNum,
      </if>
      <if test="teachernum != null">
        TeacherNum,
      </if>
      <if test="grade != null">
        Grade,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="studentnum != null">
        #{studentnum,jdbcType=CHAR},
      </if>
      <if test="coursenum != null">
        #{coursenum,jdbcType=INTEGER},
      </if>
      <if test="teachernum != null">
        #{teachernum,jdbcType=CHAR},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lnsf.pojo.TbStucourseExample" resultType="java.lang.Long">
    select count(*) from tb_stucourse
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_stucourse
    <set>
      <if test="record.studentnum != null">
        StudentNum = #{record.studentnum,jdbcType=CHAR},
      </if>
      <if test="record.coursenum != null">
        CourseNum = #{record.coursenum,jdbcType=INTEGER},
      </if>
      <if test="record.teachernum != null">
        TeacherNum = #{record.teachernum,jdbcType=CHAR},
      </if>
      <if test="record.grade != null">
        Grade = #{record.grade,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_stucourse
    set StudentNum = #{record.studentnum,jdbcType=CHAR},
      CourseNum = #{record.coursenum,jdbcType=INTEGER},
      TeacherNum = #{record.teachernum,jdbcType=CHAR},
      Grade = #{record.grade,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lnsf.pojo.TbStucourse">
    update tb_stucourse
    <set>
      <if test="teachernum != null">
        TeacherNum = #{teachernum,jdbcType=CHAR},
      </if>
      <if test="grade != null">
        Grade = #{grade,jdbcType=INTEGER},
      </if>
    </set>
    where StudentNum = #{studentnum,jdbcType=CHAR}
      and CourseNum = #{coursenum,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lnsf.pojo.TbStucourse">
    update tb_stucourse
    set TeacherNum = #{teachernum,jdbcType=CHAR},
      Grade = #{grade,jdbcType=INTEGER}
    where StudentNum = #{studentnum,jdbcType=CHAR}
      and CourseNum = #{coursenum,jdbcType=INTEGER}
  </update>
</mapper>